/* these styles are for the login button without using tailwind */
button[data-testid="rk-connect-button"]::before {
  content: "";
  display: inline-block;
  width: 30px; 
  height: 30px; 
  background-image: url('/images/icons/wallet.svg'); 
  background-size: contain;
  margin-right: 8px; 
}

.dark-connect button[data-testid="rk-connect-button"]::before {
  background-image: url('/images/icons/dm-wallet.svg'); 
}

.dark-connect button[data-testid="rk-connect-button"]{
  background-color: #1B1B1D !important;
  color: #F1F5F9 !important ;
  box-shadow: 4px 4px 15px #06080B, -0.5px -0.5px 1px rgba(206, 232, 255, 0.25);
}

button[data-testid="rk-connect-button"] {
  width: 290px;
  height: 62px !important;
  background-color: #F5F7FF !important;
  color: #54575C !important;
  font-family: theme('fontFamily.plus') !important;
  font-size: 15px !important;
  font-weight: 700;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 4px 12px 0px #D3D9E6, -6px -4px 12px 0px #FFF;
}

.dark-connect button[data-testid="rk-chain-button"]{
  background-color: #1B1B1D !important;
  color: #F1F5F9 !important ;
}

button[data-testid="rk-chain-button"] {
  width: auto;
  height: 62px !important;
  background-color: #F5F7FF !important;
  color: #54575C !important;
  font-family: theme('fontFamily.plus') !important;
  font-size: 15px !important;
  font-weight: 700;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px !important;
  gap: 28px !important;
  .iekbcc0.ju367v4.ju367va.ju367v1k{
    gap: 28px;
  }
}

.dark-connect button[data-testid="rk-account-button"]{
  .iekbcc0.ju367v70.ju367v7l.ju367v85.ju367v6e.ju367v9x.ju367vcf.ju367vn.ju367vt.ju367vw.ju367vfo.ju367v11.ju367v1c.ju367v8o{
    background-color: #1B1B1D !important;
    color: #F1F5F9 !important ;
  }
}

button[data-testid="rk-account-button"] {  
  .iekbcc0.ju367v70.ju367v7l.ju367v85.ju367v6e.ju367v9x.ju367vcf.ju367vn.ju367vt.ju367vw.ju367vfo.ju367v11.ju367v1c.ju367v8o{
    width: 290px;
    height: 62px !important;
    color: #54575C !important;
    font-family: theme('fontFamily.plus') !important;
    font-size: 15px !important;
    background-color: #F5F7FF !important;
    border-color: transparent;
    font-weight: 700;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    .iekbcc0.ju367v4.ju367va.ju367v1k.ju367v25{
      gap: 28px !important;
      .iekbcc0.ju367v4.ju367va.ju367v1k{
        gap: 28px !important;
      }
    }
  }
}

h1[id="rk_profile_title"], [id="rk_chain_modal_title"]{
  font-family: theme('fontFamily.plus') !important;
}


.iekbcc0.ju367vgo.ju367v11.ju367v13.ju367v1b.ju367v2q{
  color: #54575C !important;
  font-family: theme('fontFamily.plus') !important;
}

button[data-testid="rk-chain-option-1"],[data-testid="rk-chain-option-137"]{
  .iekbcc0.ju367v11.ju367v15.ju367v1c{
    font-family: theme('fontFamily.plus') !important;
  }
}