@tailwind base;
@tailwind components;
@tailwind utilities;

/* z-index order */
/* z-50 SpecificLandModalUI */

body{
  background-color: '#FFFFFF';
}

[data-theme ="dark"] body{
  background-color: '#121212';
}

.hidescroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hidescroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Swiper CSS options */
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-scrollbar-drag {
  background: #9c9c9c !important;
  cursor: pointer;
}

.swiper-wrapper {
  margin-bottom: 20px;
}