@tailwind base;
@tailwind components;
@tailwind utilities;

/* z-index order */
/* z-50 SpecificLandModalUI */

body{
  background-color: '#FFFFFF';
}

[data-theme ="dark"] body{
  background-color: '#121212';
}

.hidescroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hidescroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}