@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Z - index */
/* MobileControl 99 */

@layer base {
  @font-face {
    font-family: 'iconSet1';
    src: url('/fonts/fonts-icons/iconSet01.ttf');
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hidescroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hidescroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Neomorphism Box Shadows */

  .nm-flat-soft {
    box-shadow: 2px 2px 4px #cdcfd8,
      -2px -2px 4px #ffffff;
  }

  .nm-flat-medium {
    box-shadow: 4px 4px 8px #cdcfd8,
      -4px -4px 8px #ffffff;
  }

  .nm-flat-hard {
    box-shadow: 6px 6px 12px #cdcfd8,
      -6px -6px 12px #ffffff;
  }

  .nm-inset-soft {
    box-shadow: inset 2px 2px 4px #cdcfd8,
      inset -2px -2px 4px #ffffff;
  }

  .nm-inset-medium {
    box-shadow: inset 4px 4px 8px #cdcfd8,
      inset -4px -4px 8px #ffffff;
  }

  .nm-inset-hard {
    box-shadow: inset 6px 6px 12px #cdcfd8,
      inset -6px -6px 12px #ffffff;
  }

  .nm-flat-inset-soft {
    box-shadow: 2px 2px 4px #cdcfd8,
      -2px -2px 4px #ffffff,
      inset 2px 2px 4px #cdcfd8,
      inset -2px -2px 4px #ffffff;
    border: 1px solid white;
  }

  .nm-flat-inset-medium {
    box-shadow: 4px 4px 8px #cdcfd8,
      -4px -4px 8px #ffffff,
      inset 4px 4px 8px #cdcfd8,
      inset -4px -4px 8px #ffffff;
    border: 1px solid white;
  }

  .nm-flat-inset-hard {
    box-shadow: 6px 6px 12px #cdcfd8,
      -6px -6px 12px #ffffff,
      inset 6px 6px 12px #cdcfd8,
      inset -6px -6px 12px #ffffff;
    border: 1px solid white;
  }
}

:root {
  --font-iconSet1: 'iconSet1';
}

/*Remove inner & outer spin-button for input number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}